
{% block member_form %}
  
  {% if user and not user.is_anonymous %}

  	<form action="{% url 'manage-membership' group.id %}" method="post">
      {% csrf_token %}
      
      {% if user.critic == group.owner %}
        <input type="submit" value="Delete Group">
      {% elif user.critic in group.members.all %}
        <input type="submit" value="Leave Group">
      {% else %}
        <input type="submit" value="Join Group">
      {% endif %}

    </form>

  {% else %}
    <a class="nav-link" href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter to join group</a>
  {% endif %} 

{% endblock %}