{% extends 'reviews/base.html' %}

{% block content %}

  <h3>
    {{ group.name }} | 
      {% with total=group.members.count %}
        {{ total }} member{{ total|pluralize }}
      {% endwith %}
  </h3>

  {% include "reviews/group_member_form.html" %}

  {% if reviews %}

    <ul>

    {% for review in reviews %}
      <li>
        <img src="{{ review.img_url }}" alt="Review Img" height="40" width="40"> 
        <h5><a href="{% url 'review' review.id %}">{{ review.title }}</a></h5>
        <span>{{ review.get_category_display }} | {{ review.subject }}</span>
        <br>
        <span>by <a href="{% url 'critic' review.author.id %}">{{ review.author }}</a> | {{ review.date }}</span>
      </li>
    {% endfor %}

    </ul>

  {% else %}
    <p>No reviews yet</p>
  {% endif %}

{% endblock %}