
{% load relative_url %}
{% with params=request.GET.urlencode %}

<div class="pagination">
  <span class="step-links">
      {% if objects.has_previous %}
          <a href="{% relative_url 1 'page' params%}">&laquo; first</a>
          <a href="{% relative_url objects.previous_page_number 'page' params%}">previous</a>
      {% endif %}

      <span class="current">
          Page {{ objects.number }} of {{ objects.paginator.num_pages }}
      </span>

      {% if objects.has_next %}
          <a href="{% relative_url objects.next_page_number 'page' params%}">next</a>
          <a href="{% relative_url objects.paginator.num_pages 'page' params%}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% endwith %}