
{% extends 'reviews/base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-12">

    <div class="review">

      <h3 class="title">
      	{{ review.title }}
      </h3>
      <span>{{ review.subject }} | {{ review.get_category_display }}</span>
      <br>
      <span>by <a href="{% url 'critic' review.author.id %}">{{ review.author }}</a> | {{ review.date }}</span>

      {% if user and not user.is_anonymous and user.critic == review.author %}
        <br>
        {% include "reviews/author_options.html" %}
      {% endif %}

      <div class="text">
        {{ review.formatted_text }}
      </div>

    </div>

    <div class="comments">

      <h3>Comments</h3>

    {% if comments %}

      <ul>

      {% for comment in comments %}
        <li class="comment">
          <span><a href="{% url 'critic' review.author.id %}">{{ comment.author }}</a> | {{ comment.date }}</span>
          <pre>{{ comment.text }}</pre>
        </li>
      {% endfor %}

      </ul>

    {% else %}
      <p>No comments yet...</p>
    {% endif %}

    {% include "reviews/comment_form.html" %}

    </div>

  </div>
</div>

{% endblock %}

